/*
!/lib/
!/test/
!/test_driver/
!/docs/
!/assets/
!/pubspec.yaml
!/analysis_options.yaml
!/README.md
!/sonar-project.properties
!/test_coverage
ios/Flutter/Generated.xcconfig
ios/Flutter/LocalConfig.xcconfig
ios/Flutter/flutter_export_environment.sh
tool/
web/env.js
.env
**/.env
assets/.env
assets/*.env
assets/.DS_Store